<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>节拍器.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07096E291ED32853006E7E23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07096E3D1ED32854006E7E23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07096E481ED32855006E7E23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
